<extend name="Public:baseCommon"/>
<block name="InnerCss">
    <style>


    </style>
</block>

<block name="InnerJs">
    <script>

        $(document).on("click",".show_more",function() {
            var tags = $(this).data('tags');
            var select_uid = $(this).data('uid');
            var list_id = '';
            $(this).parents('.group_list_row').find('.group_list').each(function(index){
                list_id += $(this).data('list') + ',';
            });
            _this = $(this).parents('.group_list_row');
            var url = '?c=index&a=more_list';
            var data = {'tags':tags,'select_uid':select_uid,'list_id':list_id};
            $.post(url,data,function(res){
                if(res){
                    _this.find('.show_more_list').remove();
                    _this.append(res);
                }
            },'html');




        });
    </script>
</block>

<block name="body">

    <div class="_list_contai">
        <volist name="list_group" id="vo">
            <div class="_list_cron">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="_list_title">
                            <h4>{$vo.group_title}清单</h4>
                        </div>
                    </div>
                </div>
                <div class="row group_list_row" >
                <volist name="vo.group_list" id="vo2">
                    <div class="col-xs-4 group_list  <if condition='$vo2.is_more eq 1'> show_more_list </if>" data-list="{$vo2.id}" >
                        <if condition="$vo2.is_more eq 1">
                            <a href="javascript:;" class="show_more" data-tags="{$vo.group_title}" data-uid="{$select_uid}"><h5>{$vo2.name}</h5></a>
                            <else />
                            <a href=""><h5>{$vo2.name}</h5></a>
                        </if>
                    </div>
                </volist>
                </div>
            </div>

        </volist>

    </div>
</block>